
@import url('https://fonts.googleapis.com/css2?family=Mako&family=Roboto:wght@400;500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    height: 100%;
    overflow: hidden;
}
body{
    color: #daa520;
    font-family: 'Montserrat', sans-serif;
    height: 100%
}
.container{
    height: 100%;
    display: hidden;
    display: flex;
}
.container-cadastro{
    height: 100%;
    width: 40%;
    background-color: #0b2447;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.input a{
    text-decoration: none;
    color: #daa520;
}
.container-cadastro img{
    width: 500px;
    height: 180px;
}
.input{
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.container-cadastro input{
    height: 45px;
    width: 300px;
    margin: 15px;
    border-radius: 8px;
    border: none;
    padding: 15px;
}
.container-cadastro button{
    height: 45px;
    width: 300px;
    margin: 40px;
    border-radius: 8px;
    border: none;
    background-color: #daa520;
    cursor: pointer;
}
span .senha{
    cursor: pointer;
}
.image-fallen{
    height: 100%;
    width: 60%;
}
.image-valorant img{
    height: 100%;
    width: 100%;
}
