
@import url('https://fonts.googleapis.com/css2?family=Mako&family=Roboto:wght@400;500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    height: 100%;
    overflow: hidden;
}
body{
    color: #daa520;
    font-family: 'Montserrat', sans-serif;
    height: 100%
}
.container{
    height: 100%;
    display: hidden;
    display: flex;
}
.container-cadastro{
    height: 100%;
    width: 40%;
    background-color: #0b2447;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.input a{
    text-decoration: none;
    color: #daa520;
}
.container-cadastro img{
    width: 500px;
    height: 180px;
    cursor: pointer;
}
.input{
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container-cadastro input{
    height: 65px;
    width: 350px;
    margin: 15px;
    border-radius: 8px;
    border: none;
    padding: 15px;
    font-size: 16px;
}
.container-cadastro button{
    /*height: 45px;
    width: 300px; */
    height: 65px;
    width: 350px;
    margin: 40px;
    border-radius: 8px;
    border: none;
    background-color: #daa520;
    cursor: pointer;
}
button:hover{
    background-color: #0b2447;
    border: solid 3px #daa520;
    color: white;
    transition: 0.4s;
}
span .senha{
    cursor: pointer;
}
.image-valorant img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#modal{
    display: none;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    height: 300px;
    width: 350px;
    background-color: rgba(255, 255, 255, 0.6);
    border: solid 3px#0b2447;
    border-radius: 8px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 5px;
    text-align: center;
}
#modal.active{
    display: flex;
    justify-content: center;
    align-items: center;
}
#btnOK{
    height: 35px;
    width:50px;
}
.paiNosso{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.paiNosso img{
    height: 100px;
    width: 100px;
}