@import url('https://fonts.googleapis.com/css2?family=Mako&family=Roboto:wght@400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    font-family: 'Mako', sans-serif;
}

nav.nav {
    height: 80px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav ul li {
    margin: 0 30px;
    font-weight: bold;
    letter-spacing: 1px;
    cursor: pointer;
}

ul {
    list-style: none;
    padding: 0;
    color: white;
    cursor: pointer;
}

li:hover {
    color: #daa520;
    transition: 0.3s ease-in-out;
}

nav.nav .logo img {
    height: 80px;
    width: 236px;
}

header.header {
    background: linear-gradient(to right bottom, #1c1f22, #051827);
}

.column {
    display: flex;
    margin-left: 50px;
    align-items: center;
    margin-top: 70px;
}

.column h3 {
    color: #daa520;
    font-size: 26px;
}

.column button.btn {
    border: none;
    margin-top: 20px;
    background-color: #daa520;
    width: 186px;
    height: 45px;
    border-radius: 10px;
    color: white;
    cursor: pointer;
}

.column button.btn:hover {
    width: 196px;
    height: 55px;
    transition: 0.6s ease-in;
    box-shadow: inset 3px 3px 3px #505050;
}

section img {
    height: 450px;
    width: 680px;
    border-radius: 10px;
}

section h3 {
    color: #daa520;
    font-size: 26px;
}

section span {
    color: white;
    font-size: 18px;
}

section.rainbowsix {
    background: linear-gradient(to right top, #1c1f22, #051827);
}

.about {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-left: 30px;
}

.liquidR6 img {
    height: 400px;
    width: 630px;
}

.columnPL, .BR6 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-left: 30px;
    margin-top: 130px;
}

.txtPL span, .span-bottom-image {
    color: #051827;
    font-size: 18px;
    font-weight: 600;
}

.title {
    display: flex;
    justify-content: center;
}

.title h1 {
    color: #daa520;
    font-size: 40px;
}

.trophies img {
    height: 400px;
    width: 630px;
}

footer .perdoa {
    background-color: red;
    z-index: 10;
}

.txt-trophie {
    align-self: center;
}