@import url('https://fonts.googleapis.com/css2?family=Mako&family=Roboto:wght@400;500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body, .container{
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    overflow: hidden;
}
.container{
    background-image: url(../assents/png/TL_Neon_Logo_Desktop.jpg);
    background-size: 2000px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/*.psp{
    border: solid 3px black;
    height: 500px;
    width: 1350px;
    border-radius: 0 0 50% 50%;
}*/
.start{
    border: solid 3px #111111;
    height: 500px;
    width: 300px;
    border-radius: 50% 0 0 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #111111;
}
.start button{
    border: none;
    border-radius: 50%;
    height: 45px;
    width: 45px;
    cursor: pointer;
    margin: 20px;
    background-color: #303030;
    color: white;
    transform: rotate(-50deg);
}

.container-start{
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.direction-button{
    display: flex;
    transform: rotate(50deg);
}
.column{
    display: flex;
    flex-direction: column;
}
.column2{
    display: flex;
    flex-direction: column;
}
.mid{
    border: solid 3px #111111;
    height: 500px;
    width: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #111111;
}
.end{
    border: solid 3px #111111;
    height: 500px;
    width: 300px;
    border-radius: 0 50% 50% 0;
    background-color: #111111;
}
.screen{
    background-image: url(../assents/png/liquid-black.jpg); 
    height: 400px;
    width: 750px;
    background-size: 100%;
    color: white;
}
.titleQuiz{
    height: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
}
.answerQuiz{
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 15px;
}