@import url('https://fonts.googleapis.com/css2?family=Mako&family=Roboto:wght@400;500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body, .container{
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    overflow: hidden;
}
.container{
    background-image: url(../assents/png/TL_Neon_Logo_Desktop.jpg);
    background-size: 2000px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/*.psp{
    border: solid 3px black;
    height: 500px;
    width: 1350px;
    border-radius: 0 0 50% 50%;
}*/
.start{
    border: solid 3px black;
    height: 500px;
    width: 300px;
    border-radius: 50% 0 0 50%;
    /*background-color: black;*/
}
.mid{
    border: solid 3px black;
    height: 500px;
    width: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    /*background-color: black;*/
}
.end{
    border: solid 3px black;
    height: 500px;
    width: 300px;
    border-radius: 0 50% 50% 0;
    /*background-color: black;*/
}
.screen{
    background-color: grey;
    height: 400px;
    width: 750px;
}