@import url('https://fonts.googleapis.com/css2?family=Mako&family=Roboto:wght@400;500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    height: 100%;
}
body{
    font-family: 'Mako', sans-serif;
}
header{
    height: 100%;
}
nav.nav{
    height: 80px;
    width: 100%;
    justify-self: end;
    display: flex;
}
nav ul li{
    text-decoration: none;
    margin: 30px;
    font-weight: bold;
    letter-spacing: 1px;
    cursor: pointer;
}
ul{
    list-style: none;
    padding: 0; 
    display: flex;
    justify-content: flex-end;
    color: white;
    cursor: pointer;
}
li{
    padding-right: 60px;
}
li:hover{
    color: #daa520;
    transition: ease-in-out;
}
nav.nav .logo img{
   height: 80px;
   width: 236px;
}
header.header{
    background: rgb(32,32,32);
    background-image: linear-gradient(to right bottom, #1c1f22, #171d23, #121c25, #0c1a26, #051827);
    
}
.nav {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    font-size: 20px;
    
}
li {
    margin-right: 20px; 
}
.logo img {
    height: 80px;
    width: 236px;
}
.column{
    display: flex;
    margin-left: 50px;
    align-items: center;
    height: 75%;
    justify-content:space-around;
    margin-top: 70px;

}
.column span.text1{
    text-align: start;
    color: white;
    font-size: 18px;
}
.column h3{
    color: #daa520;
    margin-bottom: 20px;
    font-size: 26px;
}
.column button.btn{
    border: none;
    margin-top: 20px;
    background-color: #daa520;
    width: 186px;
    height: 45px;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    font-weight:lighter;
}
.column button.btn:hover{
    width: 196px;
    height: 55px;
    transition: 0.6s ease-in;
    box-shadow:inset 3px 3px 3px #505050;
}
.column .image1{
    display: flex;
    justify-content: end;
    margin-right: 200px;
    width: 500px;
    height: 500px;
}
.rainbowsix{
    height: 850px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 70px;
}
section img{
    height: 450px;
    width: 680px;
    border-radius: 10px;
}
section h3{
    color: #daa520;
    margin-bottom: 20px;
    font-size: 26px;
}
section span{
    text-align: startx;
    color: white;
    font-size: 18px;
    margin-top: 50px;
}
section.rainbowsix{
    background: rgb(32,32,32);
    background-image: linear-gradient(to right top, #1c1f22, #171d23, #121c25, #0c1a26, #051827);
    display: flex;
}
section.liquidR6{
    height: 100%;
    background-image: #f2f2f2;
    /* .imagePlayers img{
        width: 680px;
        height: 450px;
    } */
}
.about{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 600px;
    margin-left: 30px;
}
.about span{
    color: #051827;
    font-size: 18px;
}
.liquidR6 img{
    height: 400px;
    width: 630px;
}
.columnPL{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 50%;
    margin-left: 30px;
    margin-top: 130px;
}
.txtPL span{
    color: #051827;
    font-size: 18px;
}
.title{
    display: flex;
    justify-content: center;
}
.title h1{
color: #daa520;
font-size: 40px;
}

/*Span de baixo das imagens*/
.span-bottom-image {
    color: #051827;
    font-weight: 600;
}
.liquidR6 span{
    color: #051827;
    font-size: 22px;
}
.BR6{
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    align-self: center;
}
.trophies img{
    height: 400px;
    width: 630px;
}
.trophies{
    height: 100%;
}
.BR6-pt2{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 700px;
}
footer .perdoa{
    height: 100%;
    background-color: red;
    z-index: 10;
}
.txt-trophie{
   align-self: center;
}
.sobre-eu{
    height: 800px;
    background-image: linear-gradient(to right bottom, #1c1f22, #171d23, #121c25, #0c1a26, #051827);
    display: flex;
    justify-content: center;
    align-items: center;
}
.imagem-eu{
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sobre-mim{
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.imagem-eu img{
    height: 500px;
    width: 500px;
}
.sobre-mim span{
    height: 300px;
    width: 700px;
    text-align: justify;
}
footer{
    height: 250px;
    background-image: linear-gradient(to right top, #1c1f22, #171d23, #121c25, #0c1a26, #051827);
}
