@import url('https://fonts.googleapis.com/css2?family=Mako&family=Roboto:wght@400;500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Mako', sans-serif;
}
header{
    height: 932px;
    width: 100%;
}
nav.nav{
    /*-webkit-animation-timing-function: blur(8px);
    backdrop-filter: blur(8px);*/
    height: 80px;
    width: 100%;
    justify-self: end;
    display: flex;
}
nav ul li{
    text-decoration: none;
    margin: 30px;
    font-weight: bold;
    letter-spacing: 1px;
    cursor: pointer;
}
ul{
    list-style: none;
    padding: 0; 
    display: flex;
    justify-content: flex-end;
    color: white;
    cursor: pointer;
}
li{
    padding-right: 60px;
}
li:hover{
    color: #daa520;
    transition: ease-in-out;
}
nav.nav .logo img{
   height: 80px;
   width: 236px;
}
header.header{
    background: rgb(32,32,32);
    background: linear-gradient(112deg, rgba(32,32,32,1) 0%, rgba(5,24,39,1) 100%);
}
.nav {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    font-size: 20px;
}
li {
    margin-right: 20px; 
}
.logo img {
    height: 80px;
    width: 236px;
}
.column{
    display: flex;
    margin-left: 50px;
    align-items: center;
    height: 750px;
    justify-content:space-around;

}
.column span.text1{
    text-align: start;
    color: white;
    font-size: 18px;
}
.column h3{
    color: #daa520;
    margin-bottom: 20px;
    font-size: 26px;
}
.column button.btn{
    border: none;
    margin-top: 20px;
    background-color: #daa520;
    width: 186px;
    height: 45px;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    font-weight:lighter;
}
.column button.btn:hover{
    width: 196px;
    height: 55px;
    transition: 0.6s ease-in;
    box-shadow:inset 3px 3px 3px #505050;
}
.column .image1{
    display: flex;
    justify-content: end;
    margin-right: 200px;
    width: 500px;
    height: 500px;
}