@import url('https://fonts.googleapis.com/css2?family=Mako&family=Roboto:wght@400;500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body, .container{
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    overflow: hidden;
}
.container{
    /*background-color: #0b2447;*/
    background-image: url(../assents/png/TL_Neon_Logo_Desktop.jpg);
    background-size: 2000px;
    display: flex;
}
.container-1{
    height: 100%;
    width: 50%;
}
.container-2{
    height: 100%;
    width: 50%;
}
.container-top{
    width: 100%;
    height: 25%;
}
.container-top img{
    height: 220px;
    width: 500px;
}
.container-center{
    width: 100%;
    height: 45%;
    padding-left: 37px;
    display: flex;
    align-items: center;
    color: white;
    text-align: justify;
}
.container-center span{
    width: 500px;
    line-height: 18pt;
    font-size: 18px;
}
.container-center h1{
    color: #261832;
}
.container-bottom{
    padding-right: 350px;
    width: 100%;
    height: 30%;
    display: flex;
    /*flex-direction: column;*/
    justify-content: space-around;
    align-items: center;
}
.container-bottom button{
        min-width: 250px;
        height: 85px;
        color: #fff;
        padding: 5px 10px;
        font-weight: bold;
        cursor: pointer;
        transition: all 0.3s ease;
        position: relative;
        display: inline-block;
        outline: none;
        border-radius: 10px;
        border: none;
        background: #45678E;
        box-shadow: 0 5px #3F6089;
   
}

.container-bottom button:hover {
    box-shadow: 0 3px #3F6089;
    top: 1px;
  }
  .container-bottom button:active {
    box-shadow: 0 0 #3F6089;
    top: 5px;
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.3);
  }
.container-2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transform: rotate(17deg);
    text-align: start;
    
}
  .reminder{
    border: solid 3px #d2d2d2;
    width: 430px;
    height: 300px;
    border-radius: 27px;
    margin: 12px;
    padding: 20px;
    text-align: justify;
  }
  #curiosity{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    color: white;
    line-height: 18pt;
    font-size: 18px;
  }
 .container-2 img{
    cursor: pointer;
  }