@import url('https://fonts.googleapis.com/css2?family=Mako&family=Roboto:wght@400;500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body::-webkit-scrollbar {
    width: 8px;             
  }
  
  body::-webkit-scrollbar-track {
    background: #1a1a1a;        
  }
  
  body::-webkit-scrollbar-thumb {
    background-color:  #daa520;    
    border-radius: 20px;       
    border: 3px solid #daa520;  
  }
html{
    height: 100%;
    scroll-behavior: smooth;
}
body{
    font-family: 'Mako', sans-serif;
}
header{
    height: 100%;
}
nav.nav{
    height: 80px;
    width: 100%;
    justify-self: end;
    display: flex;
    list-style: none;
}
nav ul li{
    text-decoration: none;
    margin: 30px;
    font-weight: bold;
    letter-spacing: 1px;
    cursor: pointer;
    list-style: none;
    
}
ul{
    padding: 0; 
    display: flex;
    justify-content: flex-end;
    color: white;
    cursor: pointer;
}
li{
    padding-right: 60px;
    list-style: none;
}
li:hover{
    color: #daa520;
    transition: ease-in-out;
    transition: 0.4s;
}
a:hover{
    color: #daa520;
    transition: ease-in-out;
}
nav.nav .logo img{
   height: 80px;
   width: 236px;
}
header.header{
    background: rgb(32,32,32);
    background-image: linear-gradient(to right bottom, #1c1f22, #171d23, #121c25, #0c1a26, #051827);
 
}
.nav {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    font-size: 20px;
    
}
a{
 text-decoration: none;
 color: white;
}

li {
    margin-right: 20px; 
}
.logo img {
    height: 80px;
    width: 236px;
}
.column{
    display: flex;
    margin-left: 50px;
    align-items: center;
    height: 75%;
    justify-content:space-around;
    margin-top: 70px;
}
li button{
    background-color: red;
    border: none;
    background-color: #daa520;
    height: 32px;
    width: 90px;
    border-radius: 5px;
    color: black;
    cursor: pointer;
    font-size: 16px;
}
li button:hover{
    background-color: transparent;
    border: solid 2px #daa520;
    color: white;
    transition: 0.4s;
}
.column span{
    color: white;
    font-size: 20px;
}
.column h3{
    color: #daa520;
    margin-bottom: 20px;
    font-size: 26px;
}
.column button.btn{
    border: none;
    margin-top: 20px;
    background-color: #daa520;
    width: 186px;
    height: 45px;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    font-weight:lighter;
    color: black;
}
.column button.btn:hover{
    width: 196px;
    height: 55px;
    transition: 0.4s;
}
.column .image1{
    display: flex;
    justify-content: end;
    margin-right: 200px;
    width: 500px;
    height: 500px;
}
.rainbowsix{
    height: 850px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 70px;
    color: white;
}
section img{
    height: 450px;
    width: 680px;
    border-radius: 10px;
}
section h3{
    color: #daa520;
    margin-bottom: 20px;
    font-size: 26px;
}

section.rainbowsix{
    background: rgb(32,32,32);
    background-image: linear-gradient(to right top, #1c1f22, #171d23, #121c25, #0c1a26, #051827);
    display: flex;
}
section#liquidR6{
    height: 100%;
    background-image: #f2f2f2;
    /* .imagePlayers img{
        width: 680px;
        height: 450px;
    } */
}
#liquidR6 span{
    color: #051827;
    font-size: 22px;
}
#liquidR6 img{
    height: 400px;
    width: 630px;
}
.about{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 600px;
}

#overview{
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
}
.columnPL{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 50%;
    
}
.txtPL span{
    color: #051827;
    font-size: 18px;
}
.title{
    display: flex;
    justify-content: center;
    height: 100px;
}
.title h1{
color: #daa520;
font-size: 40px;
}

/*Span de baixo das imagens*/
.span-bottom-image {
    color: #051827;
    font-weight: 600;
    font-size: 10px;
    align-self: start;
}
.BR6{
    height: 550px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    align-self: center;
}
.trophies img{
    height: 400px;
    width: 630px;
}
.trophies{
    height: 100%;
}

.BR6-2022{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 50%;
}
.imgBR6-2022{
    height: 550px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.txt-BR62022{
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer .perdoa{
    height: 100%;
    background-color: red;
    z-index: 10;
}

.developer{
    height: 800px;
    background-image: linear-gradient(to right bottom, #1c1f22, #171d23, #121c25, #0c1a26, #051827);
    display: flex;
    justify-content: center;
    align-items: center;
}
.image-me{
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.image-me img{
    height: 500px;
    width: 500px;
}
.about-me{
    height: 80%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 180px;
}
.about-me span{
    height: 300px;
    width: 700px;
    text-align: justify;
    color: white;
    font-size: 20px;
}
footer{
    height: 250px;
    background-image: linear-gradient(to right top, #1c1f22, #171d23, #121c25, #0c1a26, #051827);
    color: white;
    display: flex;
}
.logo-footer{
    height: 100%;
    width: 33%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}
.logo-footer img{
    height: 100px;
    width: 300px;
}
.menu{
    height: 100%;
    width: 33%;

}
.social-medias{
    height: 100%;
    width: 33%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.social-medias img{
    height: 35px;
    width: 35px;
    margin: 10px;
}
.social-medias a{
    height: 65px;
}
.social-medias img:hover{
    height: 40px;
    width: 40px;
    transition: 0.4s;
}
/*.about::before{
    content: "";
    background-color: linear-gradient(0deg, rgba(27, 64, 83, 0.01) 0%,
    rgba(27, 64, 83, 0.6) 100%);
    width: 100%;
    height: 16px;
    position: absolute;
    top: 0;
} */
 .menu ul{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: start;
    height: 100%;
    font-size: 16px;
    font-weight: 500;
}
.menu ul img{
    height: 35px;
    width: 35px;

}
.menu li{
    display: flex;
    align-items: center;
    font-size: 18px;
}
.txt-trophie{
    height: 320px;
    width: 700px;
    text-align: justify;
    font-size: 22px;
}
.border-image-me{
    border: solid 2px #daa520;
    border-radius: 20px;
    height: 520px;
    width: 520px;
    display: flex;
    justify-content: center;
    align-items: center;
}